.pokemon-container{
    background: rgba(220, 235, 255, 0.55);
    border-radius: 0px 0px 32px 32px;
}
.list-group-flush .list-group-item{
    background-color: (255,255,255,0.55)
}
.head .list-group-item{
    border-color: #a6b8cf ;
}
.card{
    background-color: rgba(255,255,255,0.75);
}