<div class="row">
    <div *ngFor="let evolution of evolutions" class="col-sm mb-3">
        <div class="card" [routerLink]="['/detail', evolution.name]" [class.active]="name === evolution.name">
            <div class="card-body">
                <h4 class="card-title text-center mb-3">{{evolution.name | titlecase}}</h4>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{evolution.id}}.png" alt=""
                    class="img-fluid d-block mx-auto" style="width: 180px;">
            </div>
        </div>
    </div>
</div>