
.card{
    cursor: pointer;
    -webkit-box-shadow: 7px 7px 12px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 12px -15px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 12px -15px rgba(0,0,0,0.75);
    border-color: #F6F6F6 ;
    background-color: rgba(255,255,255,0.35);
}

.card.active{
    -webkit-box-shadow: 9px 9px 19px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 19px -15px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 19px -15px rgba(0,0,0,0.75);
    border-color: #cfcece;
    background: rgba(220, 235, 255, 0.7);
}